
<link href="~/Css/Contacts.css" rel="stylesheet" />




<div id="bigContainer">
    <div class="container">
        <div class="row contactRow">
            <div class="col-md-5">
                <div id="" class="ui-corner-all">
                    <img id="contactMe" class="ui-corner-all" src="~/Css/images/contact.png" />
                </div>
            </div>
            <div class="col-md-7">
                <ul id="listWithUnderline"></ul>
            </div>
            
        </div>

        <div class="row contactRow">
            <div class="col-md-6">
                <div class="right">
                    <p id="contactParagraph">You can contact me using the links below or form on the right:</p>
                    <ul class="contactinfo">
                        <li class="phone">Cell: (647) 606-4836</li>
                        <li class="phone">Home: (416) 516-7812</li>
                        <li class="email"><a id="email" style="" href=" mailto:chopeltsering@gmail.com">chopeltsering@gmail.com</a></li>
                        <li class="facebook"><a id="facebook" href="https://www.facebook.com/tsering.chopel">facebook.com/chopeltsering</a></li>
                        <li class="linkedIn"><a id="linkedIn" href="https://www.linkedin.com/pub/tsering-chopel/57/1aa/a9b">linkedin.com/chopeltsering</a></li>
                    </ul>

                </div>
            </div>

            <div class="col-md-6">
                <form action="#contact" id="contactform" name="contactform" method="POST">

                    <label for="name" class="name">Name: </label><br />
                    <input type="text" name="name" id="name" class="text " value="" style="opacity: 1;"> <br />

                    <label for="email" class="email">Email: </label><br />
                    <input type="text" name="email" id="email" class="text " value="" style="opacity: 1;"><br />

                    <label for="message" class="message">Message: </label><br />
                    <textarea name="message" id="message" class="textarea " style="opacity: 0.800000011920929;"></textarea><br />

                    <input id="sendButton" type="submit" name="submit" value="SEND" id="submit" class="button" style="color: rgb(180, 248, 247);"><br />
                </form>
            </div>

        </div>
    </div>
    
</div>


<script src="~/Scripts/Contacts.js"></script>