@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@section Styles {

    <link href="~/Css/Index.css" rel="stylesheet" />
}
<div id="tabs">
    <ul>
        <li>
            <a href="#slidr">PortFolio</a>
        </li>
        <li>
            <a href="#d">About Me</a>
        </li>
        <li>
            <a href="/Home/Resume2">Resume</a>
        </li>
        <li>
            <a href="/Home/Contact">Contacts</a>
        </li>
        <li>
            <a href="#d">Misc.</a>
        </li>
    </ul>
    
        <div id="slidr">
            <div id="slidr-home" class="demo-slides">
                <div class="ui-corner-all" style="box-shadow: 0 0 6px 4px black; background-color: #69bfe9; " data-slidr="one">@{Html.RenderPartial("projectBell");}</div>
                <div class="ui-corner-all" style="box-shadow: 0 0 6px 4px black; background-color: #69bfe9;" data-slidr="two">@{Html.RenderPartial("projectChat");}</div>
                <div class="ui-corner-all" style="box-shadow: 0 0 6px 4px black; background-color: #69bfe9;" data-slidr="three">@{Html.RenderPartial("projectRobotic");}</div>
                <div class="ui-corner-all" style="box-shadow: 0 0 6px 4px black; background-color: #69bfe9; " data-slidr="four">@{Html.RenderPartial("projectPersonalSite");}</div>
            </div>
        </div>
    
   
   
</div>


@section scripts {

    <script src="~/Scripts/Index.js"></script>
}