@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@section Styles {

    <link href="~/Css/Index.css" rel="stylesheet" />
}
<div id="tabs">
    <ul>
        <li>
            <a href="#slidr">About Me</a>
        </li>
        <li>
            <a href="#d">PortFolio</a>
        </li>
        <li>
            <a href="/Home/Resume2">Resume</a>
        </li>
        <li>
            <a href="/Home/Contact">Contacts</a>
        </li>
        <li>
            <a href="#d">Misc.</a>
        </li>
    </ul>
    
        <div id="slidr">
            <div id="slidr-home" class="demo-slides">
                <div style="background-color: #2aca76;" data-slidr="one">@{Html.RenderPartial("projectChat");}</div>
                <div style="background-color: #69bfe9;" data-slidr="two">@{Html.RenderPartial("projectBell");}</div>
                <div style="background-color: #fa7979;" data-slidr="three">@{Html.RenderPartial("projectRobotic");}</div>
                <div style="background-color: #a685ca;" data-slidr="four">@{Html.RenderPartial("projectBell");}</div>
                <div style="background-color: #fee687;" data-slidr="five">@{Html.RenderPartial("projectRobotic");}</div>
                <div style="background-color: #ed956e;" data-slidr="six">@{Html.RenderPartial("projectChat");}</div>
            </div>
        </div>
    
   
   
</div>


@section scripts {

    <script src="~/Scripts/Index.js"></script>
}