<link href="~/Css/Portfolio.css" rel="stylesheet" />

<div class="container">
    <div id="targetContainer" class="row">
        @Url.Action("projectRobotic", "Home", null, Request.Url.Scheme);
        @*@{Html.RenderPartial("_projectChat");}*@
        @*@{Html.RenderPartial(Url.Action("projectRobotic", "Home"));}*@
        @{Html.RenderPartial("projectRobotic");}
    </div>
</div>

    <script src="~/Scripts/Portfolio.js"></script>
