<link href="~/Css/projectRobotic.css" rel="stylesheet" />


<div id="findParent" class="slidrContainer">
    <h3 id="roboticTitle">Fourth year Robotic project. </h3>
    <div id="roboticImgContainer" class="row">
        <div class="col-sm-4">
            <div id="" class="ui-corner-all">
                <p>overall view of the three stations</p>
                <img width="300" height="200" src="~/Css/images/DSC_0032.JPG" />

            </div>
        </div>


        <div class="col-sm-4">
            <div id="" class="ui-corner-all">
                <p>path planned out for the prop-bot</p>
                <img width="300" height="200" src="~/Css/images/theFinalFinalVersion2.png" />

            </div>
        </div>

        <div class="col-sm-4">
            <div id="" class="ui-corner-all">
                <p>Actual path taken by prop-bot</p>
                <img width="300" height="200" src="~/Css/images/finalProject2.png" />

            </div>
        </div>

    </div>


    <div id="roboticVidContainer" class="row">
        <p>This video works best in internet explorer</p>
        <video id="video" width="300" height="200" controls="controls">
            <source src="~/station2Converted.mp4" type="video/mp4" />
            <source src="~/station2Webm.webm" type="video/webm" />
            Your browser does not support the video tag.
        </video>

    </div>

</div>


    <script src="~/Scripts/projectRobotic.js"></script>
