
<div id="personalSiteMainDiv" class="slidrContainer">
    <h3 id="personalSiteTitle">Not to mention the current site, Deployed since @DateTime.Now</h3>
    <div class="row">
        <div id="" class="col-sm-5 slidrContainer ui-corner-all">
            <p>Snap Shot of my workstation. </p>
            <a href="~/Css/images/myWorkStation.PNG"><img width=400 src="~/Css/images/myWorkStationExported.PNG" /></a>
        </div>

        <div id="" class=" col-sm-7 slidrContainer ui-corner-all">
            <p>
                Purpose of this project was to gain employment in software development, preferebly in web application development
                using microsoft web development stack. specifically in asp.net mvc using c# at back end. i am familiar with web forms
                as well and have used it while working at Bell Canada.<br /><br />

                This personal site is also a platform for developing javascript related projects that i wish to work on in near future.
            </p>

        </div>
    </div>
 


    <div class="slidrContainer row">
        <h3 style="text-align:center;" id="projectIdeas">Some Project Ideas</h3>
        <ul>
            <li>
                A personal chrome extension to keep track of my book marks and organize them. current bookmark bar
                is synchronized with google account and if you visit a internet cafe, you can accidentally leave your bookmarks in
                random computers.
            </li>
            
            <li>
                Ancestor tree, basically keeps track of your line of ancestors. with addded information about each individual saved
                in database. tibetan community being small, it has the potential of mapping tibetan community and finding out if
                anyone is related to you. could save someone from embrassment of hitting on their far removed cousins.
            </li>
            
            <li>
                Implement various datastructures interactively and visualy. i had wanted to do this for a while, no motivatoin other
                than getting familiar with datastructures again. In university, you only spent a semester learning those.
            </li>
           
            <li>
                Create css/javascript theme to make any document look and feel like pdf document.
            </li>
           
            <li>
                Ever had too much passwords and forgot which is which? Its not save to have same password for every account and its
                not save to keep a copy of various passwords just in case if you forget. I plan to create a password handler and
                generator that manages all your password. it could be desktop based application or an online site with user account.
            </li>
            
            <li>
                When using microsoft snipping tool, you have the option of either using rantangular cropping or using free hand.
                I want to create an online version of free hand cropping on images using javascript. even better would be if by just
                one click on image, application can recognized different objects in image and would free us from mistakes when using free
                hand to crop images.
            </li>
         
            <li>
                A calendar based application which keeps tracks of what you have learned from day to day and organizes by keeping
                links to sites where you researched and keeping notes and detail concepts which you deem important.
            </li>

        </ul>
    </div>
</div>
<script src="~/Scripts/projectPersonalSite.js"></script>