<link href="~/Css/projectBell.css" rel="stylesheet" />

<div class="container" id="bellContainer">
    <div class="row">
        <div class="col-md-4">
            <div id="imgDiv" class="ui-corner-all">
                <img src="~/Css/images/tafe1.PNG" />
                <img src="~/Css/images/tafe2.PNG" />
            </div>
            <div id="imgDialog" class="ui-corner-all">
                <img src="~/Css/images/tafe1.PNG" />
                <img src="~/Css/images/tafe2.PNG" />
            </div>
        </div>
        <div class="col-md-8">
            <dl>
                <dt>Definition list</dt>
                <dd>
                    Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat.
                </dd>
                <dt>Lorem ipsum dolor sit amet</dt>
                <dd>
                    Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat.
                </dd>
            </dl>
        </div>
    </div>
</div>


<script src="~/Scripts/projectBell.js"></script>