<link href="~/Css/projectRobotic.css" rel="stylesheet" />

<div id="roboticVidContainer" class="row">

    <div class="col-sm-4">
        <video width="320" height="240" controls>
            <source src="movie.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
        </video>
    </div>

    <div class="col-sm-4">
        <video width="320" height="240" controls>
            <source src="movie.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
        </video>
    </div>

    <div class="col-sm-4">
        <video width="320" height="240" controls>
            <source src="movie.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
        </video>
    </div>

</div>

<div id="roboticImgContainer" class="row">
    <div class="col-sm-4">
        <div id="RoboticImgDiv" class="ui-corner-all">
            <img src="~/Css/images/DSC_0032.JPG" />
        </div>
    </div>

    <div class="col-sm-4">
        <div id="RoboticImgDiv" class="ui-corner-all">
            <img src="~/Css/images/finalProject2.png" />
        </div>
    </div>

    <div class="col-sm-4">
        <div id="RoboticImgDiv" class="ui-corner-all">
            <img src="~/Css/images/theFinalFinalVersion2.png" />
        </div>
    </div>

</div>



<script src="~/Scripts/projectRobotic.js"></script>