<link href="~/Css/projectRobotic.css" rel="stylesheet" />

<div id="roboticContainer">
    <div class="row">
        <a id="previous" href="#">Previous</a>
        <a id="next" href="#">Next</a>
    </div>

    <div id="roboticSecondRow"  class="row">
        <div class="col-md-4">
            <img src="~/Css/images/DSC_0030.JPG" />
        </div>
        <div class="col-md-4">
            <img src="~/Css/images/finalProject.png" />
        </div>

        <div class="col-md-4">
            <img src="~/Css/images/theFinalFinalVersion.png" />
        </div>
    </div>

</div>


<video width="320" height="240" controls>
    <source src="movie.mp4" type="video/mp4">
    <source src="movie.ogg" type="video/ogg">
    Your browser does not support the video tag.
</video>


<script src="~/Scripts/projectRobotic.js"></script>