
<div id="chatMainDiv" class="slidrContainer">
    <h3 id="chatTitle">Fourth year Distributed computing project. </h3>
    <div id="chatImgContainer" class="row">
        <div class="col-sm-5">
            <div id="" class="ui-corner-all">
                <p>multiple chat windows depicting conversation between me(prospective employee) and hiring managers</p>
                <a href="~/Css/images/javaproj.PNG"><img src="~/Css/images/chatRoom.PNG" /></a>

            </div>
        </div>


        <div class="col-sm-7">
            <div id="" class="ui-corner-all">
                <p>Snapshot of the code in Eclipse ide, here's link to code in github. i dont use the account anymore but the code is there. 
                    <a style="color:blue;"href="https://github.com/chopeltsering/comp4104A-2">https://github.com/chopeltsering/comp4104A-2</a> 
                </p>
                <a href="~/Css/images/javaProject.PNG"><img src="~/Css/images/javaCode.PNG" /></a>
            </div>
        </div>

    </div>

    <div id="courseDescription"><br /><br />
        <pre style="color: whitesmoke; background-color:lightslategray">
            Course - Principles and Practice of Distributed Programming

            An Application to support chatting functionality between clients who have logged into the
            server using distributed patterns such as Reactor Pattern, for handling clients requesting services.
            Another pattern used is Acceptor-Connector pattern for decoupling service initialization and
            connection establishment from processing done with services and connections are established.

        </pre>
    </div>
</div>

<script src="~/Scripts/projectChat.js"></script>