
<link href="~/Css/css/bootstrap.css" rel="stylesheet" />
<link href="~/Css/Resume.css" rel="stylesheet" />



<div id ="firstRow" class="row">
    <div class="col-lg-2">
        <img id="myImg" src="~/Css/images/Capture.PNG" />
    </div>
    <div class="col-lg-10">
        <h2 id="nameMargin">Chopel Tsering</h2>
        <h3>Software / Web Application Developer</h3>
    </div>
</div>

<div class="container">
    <div class="row">
        i am a row
    </div>
    <div class="row">
        i am a row
    </div>
    <div class="row">
        i am a row
    </div>
    <div class="row">
        i am a row
    </div>
    <div class="row">
        i am a row
    </div>

</div>

