
<link href="~/Css/css/bootstrap.css" rel="stylesheet" />
<link href="~/Css/Resume.css" rel="stylesheet" />



<div id ="firstRow" class="row">
    <div class="col-md-2">
        <div id="forImgPadding" class="ui-corner-all">
            <img id="myImg" class="ui-corner-all" src="~/Css/images/Capture.PNG" />
        </div>
    </div>
    <div class="col-md-7">
        <h2 style ="font:normal;">Chopel Tsering</h2>
        <h3>SOFTWARE / WEB APPLICATION DEVELOPER</h3>
    </div>
    <div class="col-md-3">
        <address>
            <small>email: <a style="color:blue;" href="mailto:chopeltsering@gmail.com">chopeltsering@gmail.com</a></small><br/>
            <small>cell: (647) 606-4836</small><br />
            <small>Home: (416) 516-7812</small>
        </address>
    </div>
</div>

<div class="basket">
    <div class="rowInBasket row" >
        <div class="col-md-4">
            <div id="forImgPadding" class="ui-corner-all">
                <h4>
                    Career Objective
                </h4>
            </div>
        </div>
        <div class="col-md-8">
            <p>
                To be able to qualify for a position relating to software or web application development.
            </p>
        </div>
    </div>


    <div class="rowInBasket row">
        <div class="col-md-4">
            <div id="forImgPadding" class="ui-corner-all">
                <h4>
                    Profile
                </h4>
            </div>
        </div>
        <div class="col-md-8">
            <p>
                Able to deliver excellent work independently or collaboratively
                Enthusiastic about learning new technologies.
                Trilingual in English, Tibetan and Hindi.
            </p>
        </div>
    </div>


    <div class="rowInBasket row">
        <div class="col-md-4">
            <div id="forImgPadding" class="ui-corner-all">
                <h4>
                    Education BackGround
                </h4>
            </div>
        </div>
        <div class="col-md-8">
            <p>
                Bachelor of Science in Computer Science (2008 - 2012)
                Carleton university - Ottawa, Ontario
            </p>
        </div>
    </div>


    <div class="rowInBasket row">
        <div class="col-md-4">
            <div id="forImgPadding" class="ui-corner-all">
                <h4>
                    Relevant Work Experience
                </h4>
            </div>
        </div>
        <div class="col-md-8">
            <p>
                Bell Canada  - (Feb 28 2013 – Feb 21 2014)
                Position - Tools Developer
                Software Development  -
                Landing page for TAFE (a site for test automation)
                Used: 	Asp.net, Tsql,  c#,  javascript,   html,  css,  Ajax,  jquery

                Created Build book for IPTV servers.  (Mainly creating rpm repo.  for red hat server).

                Tested several libraries to approve their use in communication with remote router.
                Namely -  Rensi.sshNet,  ComponentPro, and  vandyk's “vralib”

                Made custom library for future projects to be built upon top of it for communicating with
                remote routers using "vralib" from vandyk.
                Used:  c#, ssh, telnet, cisco and juniper routers
            </p>
        </div>
    </div>


    <div class="rowInBasket row">
        <div class="col-md-4">
            <div id="forImgPadding" class="ui-corner-all">
                <h4>
                    Technical Skills
                </h4>
            </div>
        </div>
        <div class="col-md-8">
            <p>
                Language - C#, JavaScript, Java, C++, C, Scheme, Assembly language, Spin
                Web technology - Asp.net MVC, Html, css, JavaScript, Ajax, Jquery, JqueryUi, Bootstrap, Chrome plug-				     in(extensions)
                IDE - Visual Studio, Eclipse, QtCreator, Dr Racket, JCreator
                Version Control - Git
                Database - Microsoft SQL Server
                Testing - Xunit, Junit, Spec Explorer
            </p>
        </div>
    </div>


    <div class="rowInBasket row">
        <div class="col-md-4">
            <div id="forImgPadding" class="ui-corner-all">
                <h4>
                    Academic Projects
                </h4>
            </div>
        </div>
        <div class="col-md-8">
            <p>
                <pre>
                    Course - Principles and Practice of Distributed Programming
                    Course Project  - Client Server chat system based on distributed patterns
                            Created an Application to support chatting functionality between clients who have logged into the
                            server using distributed patterns such as Reactor Pattern, for handling clients requesting services.
                            Another pattern used is Acceptor-Connector pattern for decoupling service initialization and
                            connection establishment from processing done with services and connections are established.


                    Course  - Real Time Concurrent Systems
                    Course Project - TFTP application with user controlled error simulation
                            In a team of four, designed and implemented a file transfer system based on the TFTP specification
                            (RFC 1350). The system consists of TFTP client running on one or several computers, an Error
                            Simulator, and a multithreaded TFTP Server.
                            I was responsible for Error simulation which has to create errors for either client or server to check
                            how they respond and to see if they have implemented the TFTP protocol in every situation
                            possible.


                    Course - Mobile Robot Programming
                    Course Project - programming propbot to move blocks in desired order
                            Team Project to accomplish the task of moving blocks from one zone to another in a maze like map.	
                            Individual robots have to put block in their appropriate zone for other robots to pick up.


                    Course - Object Oriented software engineering
                    Course Project - CuBook-AcademicCommunicationApplication
                            Worked in a team of four with our team coming in second in the class. Application would mimic
                            social sites such as Facebook but for very targeted/specific audience.
                </pre>
            </p>
        </div>
    </div>

    <div class="rowInBasket row">
        <div class="col-md-4">
            <div id="forImgPadding" class="ui-corner-all">
                <h4>
                    Areas Of Study, Interest
                </h4>
            </div>
        </div>
        <div class="col-md-8">
            <p>
                <ul id="interest">
                    <li>Distributed and parallel computing</li>
                    <li>programming paradigm (functional, object oriented, or mix of the two and how that effects programming 	structures and design patterns)</li>
                    <li>Design Patterns</li>
                    <li>Multi-Threaded Applications</li>
                </ul>
            </p>
        </div>
    </div>
</div>

<script src="~/Scripts/resume.js"></script>