
#slidr{
    background-color: #1F6597;
    padding-top:5% !important;
    padding-left:10% !important;
    padding-right:10% !important;
}

.slidrContainer{
    padding:10px;
}

.slidrContainer>h3{
    text-align:center;
}



.ui-tabs{
    padding:0em !important;
}

.ui-tabs-nav {
    padding:0em !important;
}

.ui-widget-content{
    padding:0px !important;
}
