/*#bootStrapContainer{
    margin-left:50%;
    margin-top:10%;
}*/

#TheRow{
    position:relative;
}

#bootStrapContainer{
    position:absolute;
    margin-top:10%;
    margin-left:10%;
}

#centerColumn{
    background-color: #a685ca;
}

#leftNav{
}

#rightNav{
    padding-left:0px;
}

#leftNav, #rightNav{
    width:0px !important;
    padding-left:0px;
    

}

#leftNav span, #rightNav span{
    position:relative;
    background-color:white;  
}

.Absolute-Center{
    margin-left:10%;
    margin-top:10%;
    position: absolute;
}

