#bootStrapContainer{
    position:relative;
}

#TheRow{
    /*position:absolute;
    top:50%;*/
}

#centerColumn{
    background-color: #a685ca;
}

#leftNav{
}

#rightNav{
    padding-left:0px;
}

#leftNav, #rightNav{
    width:0px !important;
    padding-left:0px;
    background-color:red;  
    height:100px; 
}

#leftNav span, #rightNav span{
    position:absolute;
    margin-top:100%;
    background-color:grey;
}

.Absolute-Center{
    margin-left:10%;
    margin-top:10%;
    position: absolute;
}

