#roboticContainer{
    max-width:700px;
    max-height:500px;
    padding-bottom:20px;
    
}

#roboticTitle{
    text-align:center;
}

#roboticContainer img{
    max-width:100%; 
    margin-bottom:20px;
}

