* {
  margin: 0;
  padding: 0;
}

*{
    font-family: Georgia, Times, "Times New Roman", serif;
}

img {
  background: url('loading.gif') no-repeat;
}



#firstRow{
    border-bottom: 1px solid #D9D6CC;
    margin:0px;
    padding:30px;
    background-color:#F0EEE6;
}

#firstRow img{
    max-width:100%; 
    max-height:150px;
    margin:auto;
}

#forImgPadding{
    background-color: white;
    padding:5px;
    border:1px solid #D9D6CC;
}

#nameMargin{
    margin-top: 40px;
}

small{
    margin: 4px;
}

.basket{
    background-color:white;
    padding:30px;
}

.rowInBasket{
    border-bottom: 1px solid #D9D6CC;
    padding:20px;
}

ul#interest {
    list-style-type: none;
}

pre{
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size:inherit;
    word-wrap:normal;
}
